if SHIELD_WYLD_DM_RIGHT

config ZMK_KEYBOARD_NAME
    default "Wyld DM"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WYLD_DM_LEFT || SHIELD_WYLD_DM_RIGHT

config ZMK_SPLIT
    default y

endif
