# config SHIELD_WYLD_DM
#     bool

config SHIELD_WYLD_DM_LEFT
    def_bool $(shields_list_contains,wyld_dm_left,nice_view_adapter)
#     select SHIELD_WYLD_DM

config SHIELD_WYLD_DM_RIGHT
    def_bool $(shields_list_contains,wyld_dm_right,nice_view_adapter)
#     select SHIELD_WYLD_DM
