// wyld_dm_left.overlay

#include "wyld_dm.dtsi"


///  NANO V2 PINS

&kscan0 {
    col-gpios
			= <&gpio0 31  GPIO_ACTIVE_HIGH>  // 0.31
			, <&gpio0 29  GPIO_ACTIVE_HIGH>  // 0.29
            , <&gpio0 2  GPIO_ACTIVE_HIGH>  // 0.02
			, <&gpio1 15  GPIO_ACTIVE_HIGH>  //  1.15
			, <&gpio1 13  GPIO_ACTIVE_HIGH>  // 1.13
			, <&gpio1 11  GPIO_ACTIVE_HIGH>  //  1.10
//            , <&gpio1 04 GPIO_ACTIVE_HIGH>  // PB13   / 1.04
			;
};


&left_encoder {
	status = "okay";
};

&nice_view_spi {
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
};

/ {
    chosen {
        zmk,display = &nice_view_spi;
    };
};

&nice_view_spi {
    rotation = <180>;
};
