// wyld_dm_right.overlay

#include "wyld_dm.dtsi"
#include <dt-bindings/led/led.h>

&default_transform {
    col-offset = <6>;
};


&kscan0 {
    col-gpios
			= <&expander 0 (GPIO_ACTIVE_HIGH)>
			, <&expander 1 (GPIO_ACTIVE_HIGH)>
            , <&expander 2 (GPIO_ACTIVE_HIGH)>
            , <&expander 3 (GPIO_ACTIVE_HIGH)>
            , <&expander 4 (GPIO_ACTIVE_HIGH)>
            , <&expander 5 (GPIO_ACTIVE_HIGH)>
            , <&expander 6 (GPIO_ACTIVE_HIGH)>
			;
};


&right_encoder {
	status = "okay";
};


/// {
//    chosen {
//        zephyr,display = &nice_view;
//    };
//};