// wyld_dm_right.overlay

#include "wyld_dm.dtsi"
#include <dt-bindings/led/led.h>

&default_transform {
    col-offset = <7>;
};


///  NANO V2 PINS

&kscan0 {
    col-gpios
	= <&expander 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&expander 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

	;
};


//&right_encoder {
//	status = "okay";
//};


