// wyld_dm_left.overlay

#include "wyld_dm.dtsi"


/// NICE NANO PINS

&kscan0 {
    col-gpios
			= <&gpio1 0  GPIO_ACTIVE_HIGH>  // PA15  / 1.00
			, <&gpio0 11  GPIO_ACTIVE_HIGH>  // PB3   / 0.11
			, <&gpio1 4  GPIO_ACTIVE_HIGH>  // PB4   / 1.04
            , <&gpio1 6  GPIO_ACTIVE_HIGH>  // PB5   / 1.06
			, <&gpio1 7  GPIO_ACTIVE_HIGH>  // PB12   / 1.07
			, <&gpio1 2  GPIO_ACTIVE_HIGH>  // PB13   / 1.02
			, <&gpio1 1  GPIO_ACTIVE_HIGH>  // PB13   / 1.01
			;
};


&left_encoder {
	status = "okay";
};

//&blackpill_spi {
//    status = "okay";
//
////    miso-pin = <17>; // P0.17
////    mosi-pin = <20>; // P0.20
////    sck-pin = <22>; // P0.22
//    cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>; // P0.31
//
//    trackball: trackball@0 {
//        compatible = "pixart,pmw3360";
//        reg = <0>;
//        label = "Pixart PMW3360";
//        irq-gpios = <&gpio0 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//        spi-max-frequency = <2000000>;
//        scroll-layer = <5>;
//    };
//};


