// wyld_dm_right.overlay

#include "wyld_dm.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
			= <&blackpill 38  GPIO_ACTIVE_HIGH>  // PA15  / 1.00
			, <&blackpill 39  GPIO_ACTIVE_HIGH>  // PB3   / 1.10
			, <&blackpill 40  GPIO_ACTIVE_HIGH>  // PB4   / 1.02
            , <&blackpill 41  GPIO_ACTIVE_HIGH>  // PB5   / 1.04
			, <&blackpill 25  GPIO_ACTIVE_HIGH>  // PB12   / 0.12
			, <&blackpill 26  GPIO_ACTIVE_HIGH>  // PB13   / 0.19
			;
};

//&right_encoder {
//	status = "okay";
//};
