#include <physical_layouts.dtsi>

/ {
    layout_0: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan_0>;
        transform = <&matrix_transform_0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100 1175    0       0     0     0>
            , <&key_physical_attrs 100 100 1275    0       0     0     0>
            , <&key_physical_attrs 100 100 1375    0       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100 1575   50       0     0     0>
            , <&key_physical_attrs 100 100 1675   50       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100 1175  100       0     0     0>
            , <&key_physical_attrs 100 100 1275  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100 1575  150       0     0     0>
            , <&key_physical_attrs 100 100 1675  150       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100 1575  250       0     0     0>
            , <&key_physical_attrs 100 100 1675  250       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  300       0     0     0>
            , <&key_physical_attrs 100 100  500  300       0     0     0>
            , <&key_physical_attrs 100 100 1175  300       0     0     0>
            , <&key_physical_attrs 100 100 1275  300       0     0     0>
            , <&key_physical_attrs 100 100 1375  300       0     0     0>
            , <&key_physical_attrs 100 100 1475  300       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100 1575  350       0     0     0>
            , <&key_physical_attrs 100 100 1675  350       0     0     0>
            , <&key_physical_attrs 100 100  475  425       0     0     0>
            , <&key_physical_attrs 100 100  575  425       0     0     0>
            , <&key_physical_attrs 100 100  675  425       0     0     0>
            , <&key_physical_attrs 100 100 1000  425       0     0     0>
            , <&key_physical_attrs 100 100 1100  425       0     0     0>
            , <&key_physical_attrs 100 100 1200  425       0     0     0>
            , <&key_physical_attrs 100 100  475  525       0     0     0>
            , <&key_physical_attrs 100 100  575  525       0     0     0>
            , <&key_physical_attrs 100 100  675  525       0     0     0>
            ;
    };
};