//#include <dt-bindings/led/led.h>

&pinctrl {
//    spi2_default: spi2_default {
//        group1 {
//            psels = <NRF_PSEL(SPIM_SCK, 0, 40)>,  // 1.8,
//                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;    // 0.26
//
//        };
//    };
//
//    spi2_sleep: spi2_sleep {
//        group1 {
//            psels = <NRF_PSEL(SPIM_SCK, 0, 40)>,  // 1.8
//                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;    // 0.26
//            low-power-enable;
//        };
//    };

    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 10)>;  // 0.6

        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                <NRF_PSEL(TWIM_SCL, 0, 10)>;
            low-power-enable;
        };
    };
};

&i2c0 {
	status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

	// 0.10 SDA
	// 1.06 SCL
    oled: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "DISPLAY";
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0x22>;
	};
};

//&spi2 {
//  compatible = "nordic,nrf-spim";
//  status = "okay";
//
//  pinctrl-0 = <&spi2_default>;
//  pinctrl-1 = <&spi2_sleep>;
//  pinctrl-names = "default", "sleep";
//
//  led_strip: ws2812@0 {
//    compatible = "worldsemi,ws2812-spi";
//
//    /* SPI */
//    reg = <0>; /* ignored, but necessary for SPI bindings */
//    spi-max-frequency = <4000000>;
//
//    /* WS2812 */
//    chain-length = <40>; /* number of LEDs */
//    spi-one-frame = <0x70>;
//    spi-zero-frame = <0x40>;
//    color-mapping = <LED_COLOR_ID_GREEN
//                          LED_COLOR_ID_RED
//                          LED_COLOR_ID_BLUE>;
//  };
//};

/// {
//	chosen {
//		zmk,underglow = &led_strip;
//	};
//};